body{
  font-size: 1.2em;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  background-color: #EEE;
  padding-left: 5px;
  padding-right: 5px;
}



div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs{
  margin-bottom: 10px;
}

.ActiveTab{
  font-weight: bold;
  /* color: green; */
}
